# Managed by ansible
{{ sshd_config_pre }}
{% for k, v in sshd_config | dictsort(true) if not (k == 'UsePAM' and ansible_os_family == 'OpenBSD') %}
{{ k }} {{ v }}
{% endfor %}
{{ sshd_config_post }}
{% for m in sshd_config_match %}
Match {{ m.condition }}
{% for keyword, value  in m.keyword | dictsort() %}
  {{ keyword }} {{ value }}
{% endfor %}
{% endfor %}
